<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2OIFo1feCUShVMO4Y5T63Nlabg_aa6bg</string>
	<key>GCM_SENDER_ID</key>
	<string>790807988251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockeep.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stockkeep-36b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>stockkeep-36b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790807988251:ios:98d5b96b593cc10e4490be</string>
</dict>
</plist>